#actorMovie{
  padding: 40px 0;
  h2{
    font-size: 20px;
    font-weight: 600;
  }
  .actorMovie{
    display: flex;
    overflow-x:auto;
    &--card{
      margin: 20px 20px 20px 0;
      text-align: center;
      img{
        -webkit-box-shadow: 4px 4px 36px 35px rgba(24, 58, 180, 0.2);
        -moz-box-shadow: 4px 4px 36px 35px rgba(24, 58, 180, 0.2);
        box-shadow: 4px 4px 36px 35px rgba(24, 58, 180, 0.2);
      }
    }
  }
}