#footer{
  padding: 20px 0;
  background: #0b457e;
  .footer{
    h3{
      text-align: center;
      color: white;
      font-size: 20px;
      font-weight: 700;
    }
    h2{
      text-align: center;
      color: white;
      font-size: 20px;
      font-weight: 700;
    }
  }
}